  <div id="login" class="modal">
    <form [formGroup]="loginForm" class="modal-content animate" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="imgcontainer">
        <img src="../../assets/images/img_avatar2.png" alt="Avatar" class="avatar">
      </div>
      <div class="container">
          <div *ngIf="invalidLogin" class="error">
          <div>* Invalid credentials.</div>
        </div>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" formControlName="uname" >
        <div *ngIf="submitted && loginForm.controls.uname.errors" class="error">
          <div *ngIf="loginForm.controls.uname.errors.required">* Username is required</div>
        </div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" formControlName="psw">
        <div *ngIf="submitted && loginForm.controls.psw.errors" class="error">
          <div *ngIf="loginForm.controls.psw.errors.required">* Password is required</div>
        </div>
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" formControlName="remember"> Remember me
        </label>
      </div>
      <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>